.auth_buttons {
    flex: 2;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #161A1D;
    padding: 15px;
    gap: 20px;
    min-width: fit-content;
}

.container {
    max-width: 50%;
}

#main_content {
    flex: 4;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    min-width: 200px;
}

input {
    width: 50%;
}

.input_block {
    margin: 20px;
}

.asteriskField {
    display: none;
}

.alert {
    margin-bottom: 30px;
}

.alert ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.alert ul {
    color: #BA181B;
    font-size: 15px;
}

.submit_button {
    transition-duration: 0.1s;
    border: 1px solid;
    font-family: inherit; 
    font-size: inherit; 
    border-radius: 5px;
    white-space: nowrap;
    min-width: fit-content;
    cursor: pointer;
    color: #0B090A;
    background-color: #EFEFEF;
    margin-top: 20px;
}

.submit_button:hover {
    background-color: #0B090A; 
    color: #EFEFEF;
}

.submit_button:active {
    color: #EFEFEF;
}

.invalid-feedback {
    display: block; 
    margin-top: 5px; 
    margin-bottom: 20px;
    color: #BA181B;
}
