h1, h2, h3, h4, h5 {
    text-align: center;
}

.auth_buttons {
    flex: 2;
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #161A1D;
    padding: 15px;
    gap: 20px;
    border-radius: 10px;
}

.input_block {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 30px;
}

input:focus {
    border: 0.3rem solid #BA181B;
}

input::placeholder {
    font-weight: bold;
}

h1 {
    display:flow-root;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 60%;
}

#main_content {
    flex: 4;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50%;
    padding: 20px;
    min-width: 200px;
}