h1, h2, h3, h4, h5 {
    text-align: center;
}

.auth_buttons {
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: #252422;
    padding: 15px;
    gap: 20px;
    border-radius: 10px;
}

input {
    width: 50%;
    padding: 10px 10px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.3rem solid;
    min-width: 300px;
}

input:focus {
    border: 0.3rem solid #00A1E4;
}

input::placeholder {
    font-weight: bold;
}

.input_block {
    margin: 30px;
}

h1 {
    display:flow-root;
}

ul {
    list-style-type: none;
}

.container {
    justify-content: center; 
  }

.main_content {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 20px;
}