<!-- Homepage of ABASlib -->
{% extends 'base.html' %}
{% load static %}
{% block title %}
  ABASlib — Главная
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\home_styles.css' %}" />
{% endblock %}

{% block header %}
  {% block search %}
    <form id="search" action="{% url 'search:search_by_name' %}" method="get">
      {% csrf_token %}
      <input
        id="search_input"
        type="search"
        name="search_field"
        placeholder="Поиск"
      />
    </form>
  {% endblock %}

  <div class="button_group">
    {% if user.is_authenticated %}
      <div class="custom_select">
        <select name="redact_options" onchange="location = this.value" class="ref_button">
          <option selected hidden disabled>Меню</option>
          <option value="{% url 'titles:upload_title' %}?title_type=text">Добавить тайтл (текст)</option>
          <option value="{% url 'titles:upload_title' %}?title_type=graphic">Добавить тайтл (графика)</option>
          {% block redact_options %}

          {% endblock %}
        </select>
      </div>
      <a id="profile_link" href="{% url 'users:profile' %}">
        <button class="ref_button">
          <img id="user_pic" src="{{ user.user_avatar.url }}" />
          {{ user.username }}
        </button>
      </a>
      <a id="logout_link" href="{% url 'users:logout' %}">
        <button class="ref_button">
          <svg xmlns="http://www.w3.org/2000/svg" class="button_icon" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
          </svg>Выход
        </button>
      </a>
    {% else %}
      <a id="login_link" href="{% url 'users:login' %}">
        <button class="ref_button">
          <svg xmlns="http://www.w3.org/2000/svg" class="button_icon" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
          </svg>Авторизация
        </button>
      </a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <h1>ABASlib</h1>
      <hr />
      {% block titles %}
        <h4>Недавно добавлено</h4>
        <div class="titles">
          {% for title in new_titles %}
            <a title="{{ title.title_name_rus }}" class="title_card" href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=about">
              <img class="cover" src="{{ title.title_cover.url }}" alt="Здесь была обложка" />
              <div class="title_name">{{ title.title_name_rus }}</div>
            </a>
          {% endfor %}
        </div>
        <h4>Обновления</h4>
        <div class="titles">
          {% for title in updated_titles %}
            <a title="{{ title.title_name_rus }}" class="title_card" href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=about">
              <img class="cover" src="{{ title.title_cover.url }}" alt="Здесь была обложка" />
              <div class="title_name">{{ title.title_name_rus }}</div>
            </a>
          {% endfor %}
        </div>
      {% endblock %}
    </div>

    <div id="side">
      {% block sections %}
        <section>
          <h1>Разделы</h1>
          <a href="{% url 'main:home' %}"><button class="ref_button activated">Главная</button></a>
          <a href="{% url 'main:all_titles' %}"><button class="ref_button">Все тайтлы</button></a>
          <a href="{% url 'main:text_titles' %}"><button class="ref_button">Новеллы</button></a>
          <a href="{% url 'main:graphic_titles' %}"><button class="ref_button">Комиксы</button></a>
        </section>
      {% endblock %}
      
      {% block filters %}
      
      {% endblock %}

    </div>
  </div>
{% endblock %}
