{% extends 'main/home.html' %}
{% load static %}

{% block title %}
  ABASlib — Новеллы
{% endblock %}

{% block titles %}
  <h4>Новеллы</h4>
  <div class="titles">
    {% for title in text_titles %}
      <a title="{{ title.title_name_rus }}" class="title_card" href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=about">
        <img class="cover" src="{{ title.title_cover.url }}" alt="Здесь была обложка" />
        <div class="title_name">{{ title.title_name_rus }}</div>
      </a>
    {% endfor %}
  </div>
{% endblock %}

{% block sections %}
  <section>
    <h1>Разделы</h1>
    <a href="{% url 'main:home' %}"><button class="ref_button">Главная</button></a>
    <a href="{% url 'main:text_titles' %}"><button class="ref_button activated">Новеллы</button></a>
    <a href="{% url 'main:graphic_titles' %}"><button class="ref_button">Комиксы</button></a>
  </section>
{% endblock %}

{% block filters %}
  <section>
    <h1>Фильтры</h1>
    <a href="{% url 'main:text_titles' %}">
      <button class="filter_button">
        Сбросить фильтры
      </button>
    </a>
    <button type="submit" form="filter_form" class="filter_button">
      Применить фильтры
    </button>
    <form id="filter_form" action="{% url 'main:text_titles' %}" method="get">      
      <h4>Жанры</h4>
      <ul class="filter_list">
        {% for checkbox in form.genres %}
          <li>
            <label>
              {{ checkbox.tag }} 
              <span class="filter_button">{{ checkbox.choice_label }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>
  
      <h4>Тэги</h4>
      <ul class="filter_list">
        {% for checkbox in form.tags %}
          <li>
            <label>
              {{ checkbox.tag }} 
              <span class="filter_button">{{ checkbox.choice_label }}</span>
            </label>
          </li>
        {% endfor %}
      </ul>
    </form>
  </section>
{% endblock %}