{% extends 'main/title_page_base.html' %}
{% load static %}
{% block section %}
  <!-- CHAPTERS SECTION -->
  {% if not chapters %}
    <p>Кажется, главы еще не загрузили</p>
  {% endif %}
  <div id="chapters">
    {% for chapter in chapters %}
      {% if not chapter.is_empty %}
        <div class="button_group">
          {% if request.GET.title_type == 'graphic' %}
            <a href="">
              <button class="ref_button">
                <svg xmlns="http://www.w3.org/2000/svg" class="button_icon" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                </svg>
              </button>
            </a>
            <a href="{% url 'reader:read_graphic' title.id %}?chapter_num={{ chapter.chapter_number }}&page=1"><button class="ref_button">{{ chapter }}</button></a>
          {% else %}
            <a href="">
              <button class="ref_button">
                <svg xmlns="http://www.w3.org/2000/svg" class="button_icon" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1z" />
                </svg>
              </button>
            </a>
            <a href="{% url 'reader:read_text' title.id %}?chapter_num={{ chapter.chapter_number }}"><button class="ref_button">{{ chapter }}</button></a>
          {% endif %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}
