#title_head {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
}

.container {
    width: 50%;
}

#main_content {
    flex: 3;
}

#main_content .ref_button {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#chapters {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#actions {
    gap: 5px;
}

.button_group a {
    flex: 1;
    display: grid;
}

a.bookmark {
    border-right: solid 2px;
}

a.bookmark:hover {
    border-color: var(--text-color-base);
}

a.bookmark .ref_button:hover {
    background-color: var(--bg-color-light);
}

a.chapter_button {
    flex: 0 0 90%;
}

a.chapter_button .ref_button {
    justify-content: space-between;
}

a.chapter_button .ref_button p {
    margin: 2px;
}

.chapter_info {
    text-align: left;
}

.timestamp {
    justify-content: right;
    font-size: 0.8rem;
}

#chapters .ref_button {
    border: none;
}

.action_button {
    border: 2px solid;
    color: var(--text-color-bright)
}

.highlighted_text {
    margin-bottom: 0.5rem;
    font-size: larger;
}

#cover {
    width: 35%;
    aspect-ratio: 2/3;
    object-fit: cover;
    border-radius: 5px;
}

#caption {
    display: flex;
    justify-content: space-between;
    
}

#title_stats {
    width: 45%;
    text-align: center;
}

#title_info {
    width: 45%;
    text-align: center;
}

.activated:hover {
    background-color: var(--bg-color-light);
}

.tag {
    border: solid 2px;
    border-radius: 9999px;
    padding: 10px;
}

.rating-list li {
    float: right;
    padding: 10px 5px;
}

.rating-list li:hover,
.rating-list li:hover~li {
    color: var(--rating-color-hover);
}

.rating-list {
    display: inline-block;
    list-style: none;
}

.checked {
    color: var(--rating-color-base);
}

div.comment {
    border-bottom: solid 2px var(--text-color-base);
    padding: 10px;
    margin: 10px;
}

#comment_input {
    display: grid;
}

#submit_comment {
    width: fit-content;
}

.comment {
    height: fit-content;
    background-color: var(--bg-comment-base);
}

.comment.user_comment {
    background-color: var(--bg-comment-user);
}

.comment p {
    margin: 0;
}

.comment .comment_text {
    margin-top: 1rem;
}

.comment .timestamp {
    margin-top: 1rem;
}

.user_ref {
    display: flex;
    gap: 10px;
    align-items: center;
}

.rating_stars {
    text-align: center;
}

.rating_stars .rating-group {
    display: inline-flex;
}

.rating_stars label svg {
    margin: 2px;
    height: 2rem;
    width: 2rem;
    fill: var(--text-color-base);
    transition: fill 0.3s;
}

.rating_stars label.checked svg {
    fill: var(--rating-color-base)
}

.rating_stars .star {
    padding-right: 0;
    margin-right: -22px;
    width: 22px;
    overflow: hidden;
    z-index: 2;
}
.rating_stars.to_rate input:checked ~ label svg {
    fill: #ffffff;
}

.rating_stars.to_rate .rating-group:hover label svg {
    fill: #d86e0b;
}

.rating_stars.to_rate .rating-group input:hover ~ label svg {
    fill: #ffffff;
}

.rating_stars.to_rate label {
    margin: 0;
    cursor: pointer;
}

.rating_stars.to_rate input {
    position: absolute;
    left: -9999px;
}