@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh; 
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: #0B090A;
    color: #EFEFEF;
    font-family: Roboto mono, monospace;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, a:hover {
    color: #BA181B;
}

footer, header, #main_content, #sidebar {
    background-color: #161A1D;
}

a {
    color: #EFEFEF;
    text-decoration: none;
    font-size: 1rem;
}

header {
    box-sizing: border-box;
    padding: 10px;    
    position: fixed;
    top: 0;
    left: 0;
}

header, footer {
    width: 100%;
}

#header_container, #footer_container{
    display: flex;
    flex-direction: row;
    align-items: center; 
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 40px;
}

.container {
    display: flex;
    flex: 1; 
    width: 70%;  
    max-width: 1600px;
    margin: 100px auto 30px auto;
    padding: 15px;
    gap: 20px;
}

#main_content, #sidebar {
    padding: 40px;
    border-radius: 10px;
}

#main_content {
    flex: 3; 
}

#sidebar {
    flex: 1; 
}

button {
    transition-duration: 0.2s;
    padding: 10px 10px;
    margin: 8px;
    width: 50%;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    border: 0.3rem solid;
}

button:hover {
    background-color: #BA181B; 
}

button:active {
    color: #EFEFEF;
}

.warning {
    color: #BA181B;
}

hr {
    border-color: #EFEFEF;
    border-radius: 10px;
    box-shadow: #161A1D;
}