@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

html {
    font-size: var(--font-size-base);
}

body {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--bg-color-dark);
    color: var(--text-color-base);
    font-family: var(--font-family-base);
    width: 100%;
}

.highlighted_text,
h1,
h2,
h3,
h4,
h5 {
    color: var(--text-color-bright);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.5rem;
}

h3,
.highlighted_text {
    font-size: 1.3rem;
}

h4,
h5 {
    font-size: 1.1rem;
}

p,
a,
button,
select {
    font-size: 0.9rem;

}

a {
    color: var(--text-color-base);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

a:hover {
    color: var(--link-color-hover);
}

.highlighted_text {
    font-weight: bold;
}

.activated {
    color: var(--link-color-hover) !important;
}

.centered {
    text-align: center;
}

footer,
header,
#main_content,
#side,
#site_icon button {
    background-color: var(--bg-color-light);
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header,
footer {
    width: 100%;
}

footer {
    margin-top: auto;
    width: 100%;
}

#header_container,
#footer_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-right: 80px;
    margin-left: 80px;
}

#site_icon button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--text-color-base);
}

#site_icon a {
    align-items: center;
}

#icon {
    width: 40px;
    height: 40px;
}

.container {
    display: flex;
    flex: 1;
    width: 70%;
    max-width: 1500px;
    margin: 80px auto 30px auto;
    gap: 20px;
    flex-grow: 1;
    max-height: fit-content;
}

#main_content,
#side {
    padding: 40px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0;
}

#main_content {
    flex: 3;
}

#side {
    flex: 0.5;
}

button {
    transition-duration: 0.2s;
    padding: 10px 20px;
    border: 2px solid;
    display: flex;
    text-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    white-space: nowrap;
    min-width: fit-content;
    max-height: fit-content;
    cursor: pointer;
    color: var(--text-color-base);
    background-color: var(--bg-color-dark);
}

button:hover {
    color: var(--link-color-hover);
}

button:active {
    color: var(--text-color-base);
}

select {
    font-family: inherit;
    text-align: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
}

.custom_select select:focus {
    background-color: var(--ref-button-color-hover);
}

.custom_select select option {
    padding: 10px;
}

.button_group {
    display: flex;
    justify-content: center;
    gap: 0;
}

.ref_button {
    white-space: nowrap;
    flex: 1;
    border-radius: 0;
    background-color: var(--bg-color-light);
    color: var(--text-color-base);
    border: none;
    height: 3rem;
    gap: 10px;
}

.ref_button:hover {
    background-color: var(--ref-button-color-hover);
}

.ref_button img {
    margin: 5px;
}

.button_icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0;
}

input,
textarea {
    margin: 8px;
    padding: 5px 5px;
    line-height:140%;
    box-sizing: content-box;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
    color: var(--text-color-base);
    background-color: var(--bg-color-dark);
}

textarea {
    resize: none;
}

hr {
    border-color: var(--text-color-base);
    border-radius: 5px;
    border-style: inset;
    border-width: 1px;
    margin-left: 0;
    margin-right: 0;
}