body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    height: 100%;
    margin: 0;
    padding: 0px;
    
    font-family: monospace;
    background-color: #363330;
    color: #EFEFEF;

    overflow-x: hidden;
}

h1, h2, h3, h4, h5, a:hover {
    color: #00A1E4;
}

a {
    color: #CCC5B9;
    text-decoration: none;
    font-size: 1rem;
}

#base_footer, #base_header, .main_content, .sidebar {
    background-color: #252422;
}

#base_header, #base_footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    background-color: #252422;
}

#base_header {
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    flex: 1; 
    width: 70%;  
    max-width: 1600px;
    min-width: 800px;
    margin: 75px auto 30px auto;
    padding: 15px;
    display: flex;
    gap: 20px;
}

.main_content, .sidebar {
    padding: 20px;
    border-radius: 10px;
}

.main_content {
    flex: 3; 
}

.sidebar {
    flex: 1; 
}

button {
    transition-duration: 0.2s;
    padding: 10px 10px;
    margin: 8px;
    width: 50%;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    border: 0.3rem solid;
}

button:hover {
    background-color: #00A1E4; 
}

.button:active {
    transform: translateY(4px);
}

.error {
    color: #F93943;
}

hr {
    border-color: #363330;
    border-radius: 10px;
    height: 2px;
}