@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    /* Text vars */
    --font-size-base: 13px;
    --font-family-base: Roboto mono, monospace;
    /* Color vars */
    --text-color-base: #EFEFEF;
    --text-color-pale: #EFEFEFBD;
    --text-color-bright: #BA181B;
    --link-color-hover: #FF090D;
    --rating-color-base: #EFEFEF;
    --rating-color-hover: #F6AE2D;
    --ref-button-color-hover: #21262B;
    --bg-color-dark: #0B090A;
    --bg-color-light: #161A1D;
    --bg-comment-base: #1B1F23;
    --bg-comment-user: #21262B;
}