#title_head {
    text-align: center;
}

.container {
    width: 50%;
}

#main_content {
    flex: 3;
}

#side {
    flex: 2;
}

#main_content .ref_button {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#chapters {
    display: flex;
    flex-direction: column;
}

.button_group a {
    flex: 1; 
    display: grid; 
}

#chapters .ref_button {
    border: none;
    width: 100%;
}

.like_button {
    color: #BA181B;
    width: 100%;
    border: 2px solid;
}