#title_head {
    padding: 5px;
    align-items: center;
    text-align: center;
    align-items: center;
}

.container {
    width: 50%;
}

#main_content {
    flex: 3;
}

#side {
    flex: 2;
}

#main_content .ref_button {
    border-top: 2px solid;
    border-bottom: 2px solid;
}