#title_head {
    text-align: center;
}

.container {
    width: 60%;
}

#main_content {
    flex: 3;
}

#main_content .ref_button {
    border-top: 2px solid;
    border-bottom: 2px solid;
}

#chapters {
    display: flex;
    flex: 1;
    flex-direction: column;
}

#actions {
    gap: 5px;
}

.button_group a {
    flex: 1; 
    display: grid; 
}

#chapters .button_group a:first-child {
    flex: 0 0 10%; 
}

#chapters .button_group a:last-child {
    flex: 0 0 90%; 
}

#chapters .ref_button {
    border: none;
}

.action_button {
    color: #BA181B;
    border: 2px solid;
}

.highlighted_text {
    margin-bottom: 0;
    font-size: larger;
}

#cover {
    width: 370px;
    height: 540px;
    border-radius: 5px;
}

#caption {
    display: flex;
    justify-content: space-between;
}

#title_stats {
    width: 45%;
    text-align: right;
}

#title_info {
    width: 45%;
}