#input {
    display: flex;
    flex-direction: column;
    align-items: safe;
    max-width: 60%;
}

#side {
    background-color: transparent;
}

label {
  font-size: larger;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
