<!-- Base for html files in "users" app -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='author' content='withered'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            ABASlib
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static "css/base_styles.css" %}" />
</head>

<body>
    <header>
        {% block header %}
        {% endblock header %}
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>