<!-- Log in page -->
{% extends 'main/base.html' %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/users/auth_styles.css' %}" />
{% endblock %}

{% block title %}
  ABASlib -  Вход
{% endblock %}

{% block header %}
  <a href="{% url 'main:home' %}"><button class="ref_button">Вернуться назад</button></a>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="auth_buttons">
      <h1>Вход</h1>
      <hr />
      <h1><a href="{% url 'users:register' %}">Регистрация</a></h1>
    </div>
    <div id="main_content">
      <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <h2>Введите данные</h2>
        <div class="input_block">
          {{ form.as_p }}
        </div>

        <div class='button_group'>
          <button name="submit">Войти</button>
          <input type="hidden" name="next" value="{% url 'main:home' %}" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
