<!-- User profile page -->
{% extends 'main/home.html' %}
{% load static %}
{% block title %}
  ABASlib — Профиль {{ user.name }}
{% endblock %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/users/profile_styles.css' %}" />
{% endblock %}

{% block header %}
    <a href="{% url 'main:home' %}">Вернуться на главную</a>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <img id="profile_image" src="{{ user.user_avatar.url }}" alt="Здесь был аватар" />
      <h1>Пользователь {{ user.username }}</h1>
      <hr />
      <h2>Сведения</h2>
      <p>
        Прочитанные тайтлы: {{ user.titles_read_amount }}
      </p>
      <p>
        Ты с нами с {{ user.date_joined|date:"d/m/Y" }}
      </p>
      <p>{{ user.email }}</p>
    </div>
  </div>
{% endblock %}
