<!-- Page for user registration -->
{% extends 'users/auth_base.html' %}
{% block title %}
  ABASlib — Регистрация
{% endblock %}

{% block content %}
  <div class="container">
    <div class="auth_buttons">
      <h1><a href="{% url 'users:login' %}">Вход</a></h1>
      <hr />
      <h1>Регистрация</h1>
    </div>

    <div id="main_content">
      <form action="{% url 'users:register' %}" method="post">
        {% csrf_token %}
        <h2>Введите данные</h2>
        <hr />
        <div class="input_block">
          <label for="username">Никнейм</label>
          <br />
          <input placeholder="username" type="text" name="username" maxlength="150" autofocus required aria-describedby="id_username_helptext" id="id_username" />
          <br />
          <span class="warning" id="id_username_helptext"><p>Только буквы, цифры и символы @/./+/-/_!</p></span>
        </div>

        <div class="input_block">
          <label for="email">Электронная почта</label>
          <br />
          <input placeholder="e-mail" type="email" name="email" maxlength="320" required id="id_email" />
        </div>

        <div class="input_block">
          <label for="password1">Пароль</label>
          <br />
          <input placeholder="password" type="password" name="password1" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1" />
          <br />
          <span class="warning" id="id_password1_helptext">
            <ul>
              <li>Пароль должен содержать не менее 8 символов</li>
              <li>Пароль должен содержать хотя бы одну букву или символ</li>
            </ul>
          </span>
        </div>

        <div class="input_block">
          <label for="password2">Подтверждение пароля</label>
          <br />
          <input placeholder="password" type="password" name="password2" autocomplete="new-password" required aria-describedby="id_password2_helptext" id="id_password2" />
          <br />
          <span class="warning" id="id_password2_helptext"><p>Пароли должны совпадать</p></span>
        </div>

        <div>
          <br />
          <button name="submit">Зарегистрироваться</button>
          <input type="hidden" name="next" value="{% url 'main:home' %}" />
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
