<!-- Base for html files -->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="withered" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}" />
    <title>
      {% block title %}
        ABASlib
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/variables.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_styles.css' %}" />
    {% block styles %}

    {% endblock %}
  </head>

  <body>
    <header>
      <div id="header-container">
        <div id="site-icon">
          <a class="a-button block-button" href="{% url 'catalog:home' %}">
            <img id="icon" src="{% static 'images/favicon/android-chrome-192x192.png' %}" />ABASlib
          </a>
        </div>
        <div id="header-buttons">
          {% block header %}
  
          {% endblock %}
        </div>
      </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer>
      <div id="footer-container">
        <p>
          2025 - {% now 'Y' %}
        </p>
        <div>
        <div>
          {% block footer %}
  
          {% endblock %}
        </div>
        <a class="a-button block-button" href="{% url 'catalog:about_rights' %}">
          Для правообладателей
        </a>
      </div>
    </footer>
    
    {% block scripts %}

    {% endblock %}
  </body>
</html>
