<!-- Homepage of ABASlib -->
{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  ABASlib — Для правообладателей
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\about_rights_styles.css' %}" />
{% endblock %}

{% block header %}
  <a href="{% url 'main:home' %}">
    <button class="ref_button">
      <svg xmlns="http://www.w3.org/2000/svg" class="button_icon" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
      Вернуться назад
    </button>
  </a>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <h1>ABASlib</h1>
      <p>Данный сайт создан в образовательных целях.</p>
      <p>
        По вопросам о размещенном на сайте контенте обращаться по электронной почте: <b>withered0abandoned@gmail.com</b>
      </p>
      <p>
        Автор данного ресурса не претендует на права создателей, переводчиков или издательств, не использует контент
        в коммерческих целях, только для приобретения навыков ведения и разработки проекта.
      </p>
    </div>
  </div>
{% endblock %}
