<!-- Base for html files in "main" app -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='author' content='withered'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
            ABASlib
        {% endblock title %}
    </title>
    
    <link rel="stylesheet" href="{% static "css/base_styles.css" %}" />
    {% block styles %}
    {% endblock styles %}
</head>

<body>
    <header id='base_header'>
        {% block header %}
        {% endblock header %}
    </header>

    {% block content %}
    {% endblock content %}

    <footer id='base_footer'>
        {% block footer %}
            <p>2025 - {% now "Y" %}</p>
        {% endblock footer %}
    </footer>
</body>
</html>