<!-- Homepage of ABASlib -->
{% extends "main/base.html" %}
{% load static %}
{% block title %}ABASlib — Главная{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href={% static "css\main\main_styles.css" %}>
{% endblock styles %}

{% block header %}
    {% if user.is_authenticated %}
        <div id='user_ref'>        
            <a id='profile_link' href="{% url 'users:profile' %}">Профиль {{ user.username }}</a>
            <a id='profile_link' href="{% url 'users:profile' %}">
                <img style="width:30px;height:30px;" src="{{ user_profile.user_avatar.url }}">
            </a>
        </div>
        <a id='logout_link' href="{% url 'users:logout' %}">Выход</a>
        
    {% else %}

        <a id='login_link' href="{% url 'users:login' %}">Вход | Регистрация</a>

    {% endif %}
{% endblock header %}

{% block content %}
    <div class='container'>
        <div id='main_content'>
            <h1>Каталог</h1>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
            <p>Я основная страница</p>
        </div>
    
        <aside id='sidebar'>
            <h1>Хало, френдс</h1>
            <p>Я сайдбар под разделы и, быть может, еще для чего</p>
        </aside>
    </div>
{% endblock content %}