{% extends 'main/home.html' %}
{% load static %}

{% block title %}
  ABASlib — Новеллы
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <h1>ABASlib</h1>
      <hr />
      <h4>Новеллы</h4>
      <div class="titles">
        {% for title in text_titles %}
          <a title="{{ title.title_name_rus }}" class="title_card" href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=about">
              <img class="cover" src="{{ title.title_cover.url }}" alt="Здесь была обложка">
              <div class="title_name">{{ title.title_name_rus }}</div>
          </a>
        {% endfor %}
      </div>
    </div>

    <div id="side">
      <h1>Разделы</h1>
      <hr />
      <a href="{% url 'main:home' %}">
        <button class="ref_button">
          Главная
        </button>
      </a>
      <a href="{% url 'main:text_titles' %}">
        <button class="ref_button">
          Новеллы
        </button>
      </a>
      <a href="{% url 'main:graphic_titles' %}">
        <button class="ref_button">
          Комиксы
        </button>
      </a>
    </div>
  </div>
{% endblock %}