{% extends 'main/home.html' %}
{% load static %}
{% block title %}
  {{ title.title_name_rus }} — ABASlib
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\title_styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css\main\home_styles.css' %}" />
{% endblock %}

{% block redact_options %}
  <option value="{% url 'main:upload_chapter' title.id %}?title_type={{ title_type }}">Добавить главу</option>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <div id="title_head">
        Здесь будет обложка
        <h2>{{ title.title_name_rus }}</h2>
        <h2>{{ title.title_name_eng }}</h2>
      </div>
      <div class="button_group">
        <!-- add some logic to check if the title in favorites -->
        <a href=""><button class="like_button ref_button">Добавить в любимое</button></a>
      </div>
      <br>
      <div class="button_group">
        <a href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=about"><button class="ref_button">О тайтле</button></a>
        <a href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=chapters"><button class="ref_button">Главы</button></a>
        <a href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=comments"><button class="ref_button">Комментарии</button></a>
      </div>
      <br />
      {% if section == 'about' %}
        
        <div class="info">
          <p class="highlighted_text">Статус:</p>
          {% if title.title_is_ongoing %}
              <p>продолжается</p>
          {% else %}
            <p>закончено</p>
          {% endif %}
        </div>
        <div class="info">
          <p class="highlighted_text">Автор:</p>
          <p>кто-то</p>
        </div>
        <div class="info">
          <p class="highlighted_text">Описание:</p>
          <p>какое-то</p>
        </div>
        <p>ЗАПОЛНЕНИЕ БУДЕТ ПОЗЖЕ (другой спринт)</p>
      {% elif section == 'chapters' %}
        {% if not chapters %}
          <p>Пока что здесь нет ничего</p>
        {% endif %}
        <div id="chapters">
          {% for chapter in chapters %}
            <a href=""><button class="ref_button">{{ chapter.get_chapter_name }}</button></a>
          {% endfor %}
        </div>
      {% elif section == 'comments' %}
        <p>Здесь будут комментарии</p>
      {% endif %}
    </div>
  </div>
{% endblock %}