{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  ABASlib - Добавление тайтла
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\upload_styles.css' %}" />
{% endblock %}

{% block header %}
  <a href="{% url 'main:home' %}">Вернуться на главную страницу</a>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <form action="{% url 'main:upload_title' %}?title_type={{ title_type }}" method="post">
        {% csrf_token %}
        <div id="input">
          <h1>Заполните поля</h1>
          {{ form.as_table }}
          <br />
          <button name="submit">Добавить тайтл</button>
          <div id="title_cover">здесь будет обложка (не здесь, справа)</div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
