{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  ABASlib - Добавление главы
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\upload_styles.css' %}" />
{% endblock  %}

{% block header %}
  <a href="{% url 'main:home' %}">Вернуться на главную страницу</a>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <form action="{% url 'main:upload_chapter' title.id %}?title_type={{ title.title_type }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="input">
          {{ form.errors }}
          <label for="id_chapter_name">Название главы:</label>
          <input type="text" name="chapter_name" required id="id_chapter_name">
          {% if title_type == 'graphic' %}
            <label for="pages">Страницы:</label>
            <input type="file" name="pages" required multiple />
          {% endif %}
          {% if title_type == 'text' %}
            <label for="chapter_content">Файл с текстом:</label>
            <input type="file" name="chapter_content" required />
          {% endif %}
          <br />
          <button name="submit">Добавить главу</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}