{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  ABASlib - Добавление главы
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\upload_styles.css' %}" />
{% endblock %}

{% block header %}
  <a href="{% url 'main:title_page' title.id %}?title_type={{ title.title_type }}&section=about"><button class="ref_button">Вернуться назад</button></a>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <form action="{% url 'main:upload_chapter' title.id %}?title_type={{ title.title_type }}" enctype="multipart/form-data" method="post" >
        {% csrf_token %}
        {{ form.errors }}
        <div id="input">
          <h1>Заполните поля</h1>
          {% if title_type == 'text' %}
            {{ form.as_table }}

          {% elif title_type == 'graphic' %}
            {{ chapter_form.as_table }}
            {{ pages_form.as_table }}
          {% endif %}
          <br />
          <button name="submit">Добавить главу</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
