{% extends 'main/base.html' %}
{% load static %}
{% block title %}
  ABASlib - Добавление главы
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css\main\upload_styles.css' %}" />
{% endblock  %}

{% block header %}
  <a href="{% url 'main:home' %}">Вернуться на главную страницу</a>
{% endblock %}

{% block content %}
  <div class="container">
    <div id="main_content">
      <form action="{% url 'main:upload_chapter' title.id %}?title_type={{ title.title_type }}" method="post">
        {% csrf_token %}
        <div id="title_input">
          {{ form.as_p }}
          {% if title_type == 'graphic' %}
            
          {% endif %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}