body {
    font-family: monospace, Arial;
    background-color: #282a37;
}

header {
    background-color: #651fc7;
}

h1, h2, h3, h4, h5 {
    color: #eb3f3f;
}

p {
    color: #f0f0f0;
}

a:link, a:visited, a:active {
    color: #f0f0f0;
    text-decoration: none;
}

a:hover {
    color: #eb3f3f;
    text-decoration: none;
}