<!-- Page for user registration -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static 'css/users/auth_styles.css' %}" />
{% endblock %}

{% block title %}
  ABASlib - Регистрация
{% endblock %}

{% block header %}
  <a href="{% url 'catalog:home' %}">
    <button class="ref_button">
      <svg xmlns="http://www.w3.org/2000/svg" class="button_icon" fill="currentColor" class="bi bi-arrow-left-square" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm11.5 5.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
      </svg>
      Вернуться назад
    </button>
  </a>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="auth_buttons">
      <h1><a href="{% url 'users:login' %}">Вход</a></h1>
      <hr />
      <h1>Регистрация</h1>
    </div>

    <div id="main_content">
      <h2>Введите данные</h2>
      {% crispy form %}
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
