pre {
    white-space: pre-wrap;
    line-height: 30px;
}

#chapter_text {
    width: 50%;
}

.img_container {
    width: 100%;
    max-width: 1600px; 
    display: flex;
    justify-content: center; 
    margin-top: 55px;
    position: relative;
    z-index: 1;
}

#page_image {
    max-width: 100%; 
    max-height: none; 
    width: auto;
    height: auto;
    object-fit: scale-down; 
    image-rendering: crisp-edges; 
    z-index: 1;
}

#chapter_selector {
    width: 200px;
}

#page_selector {
    width: 80px;
}

#previous_page, #next_page {
    position: absolute;
    top: 0;
    height: 100%;
    width: 30%;
    z-index: 2;
}

#previous_page {
    left: 0;
}

#next_page {
    right: 0;
}