pre {
    white-space: pre-wrap;
}

#chapter_text {
    width: 50%;
}

.img_container {
    width: 100%;
    max-width: 1600px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#chapter_image {
    max-width: 100%; 
    max-height: none; 
    width: auto;
    height: auto;
    object-fit: scale-down; 
    image-rendering: crisp-edges; 
}

#chapter_selector {
    width: 200px;
}

#page_selector {
    width: 80px;
}