{% extends 'catalog/home.html' %}
{% load static %}

{% block title %}
  ABASlib — Комиксы
{% endblock %}

{% block titles %}
  <h4>Комиксы</h4>
  {% if not graphic_titles %}
    <p class="highlighted centered">Подходящие тайтлы не найдены</p>
  {% else %}
    <div class="titles">
      {% for title in graphic_titles %}
        <a title="{{ title.title_name_rus }}" class="title-card" href="{% url 'catalog:title_page' title.id %}?title_type={{ title.title_type }}&section=about">
          <img class="cover" src="{{ title.title_cover.url }}" alt="Здесь была обложка" />
          <div class="title-name">{{ title.title_name_rus }}</div>
        </a>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}

{% block sections %}
  <section>
    <h2>Разделы</h2>
    <a class="a-button block-button" href="{% url 'catalog:home' %}">Главная</a>
    <a class="a-button block-button" href="{% url 'catalog:all_titles' %}">Все тайтлы</a>
    <a class="a-button block-button" href="{% url 'catalog:text_titles' %}">Новеллы</a>
    <a class="a-button block-button activated" href="{% url 'catalog:graphic_titles' %}">Комиксы</a>
  </section>
{% endblock %}

{% block search %}
<section>
  <h2>Поиск</h2>
  <input
    id="search-input"
    type="search"
    name="search_query"
    placeholder="Поиск"
    form="filter-form"
    value="{{ request.GET.search_query }}"
  />
</section>
<section>
  <h2>Фильтры</h2>
  <a class="a-button filter-button" href="{% url 'catalog:text_titles' %}">
    Сбросить
  </a>
  <button type="submit" form="filter-form" class="filter-button">
    Применить
  </button>
  <form id="filter-form" action="{% url 'catalog:graphic_titles' %}" method="get">      
    <h4>Жанры</h4>
    <ul class="filter-list">
      {% for checkbox in filter_form.genres %}
        <li>
          <label>
            {{ checkbox.tag }} 
            <span class="filter-button">{{ checkbox.choice_label }}</span>
          </label>
        </li>
      {% endfor %}
    </ul>

    <h4>Тэги</h4>
    <ul class="filter-list">
      {% for checkbox in filter_form.tags %}
        <li>
          <label>
            {{ checkbox.tag }} 
            <span class="filter-button">{{ checkbox.choice_label }}</span>
          </label>
        </li>
      {% endfor %}
    </ul>
  </form>
</section>
{% endblock %}