{% extends 'reader/reader_base.html' %}

{% block header %}
  <div class="button_group">
    <div class="custom_select">
      <select id="chapter_selector" class="ref_button" onchange="location = this.value">
        {% for chapter in all_chapters %}
          {% if chapter.chapter_number == current_chapter.chapter_number %}
            <option selected value="{% url 'reader:read_graphic' title.id %}?chapter_num={{ chapter.chapter_number }}">{{ chapter }}</option>
          {% else %}
            <option value="{% url 'reader:read_text' title.id %}?chapter_num={{ chapter.chapter_number }}">{{ chapter }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div id="#chapter_text" class="container">
    <pre>{{ chapter_content }}</pre>
  </div>
{% endblock %}


